.Orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.orders-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50vw;
}

.order-info {
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
    margin-top: 10px;
    max-height: 250px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

.order-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    width: 300px;
}

.order-products-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}